*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:url(106815.jpg);
    background-size:cover;
    color: white;
    font-family: "Poppins",sans-serif ;
    min-height: 100vh;
}
h1{
    background-color:white;
    width: 50%;
    border-radius: 5px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    font-size: 1.5rem;
    color:rgb(85, 71, 71);
}    
header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input,form button{
    padding: 0.5em; 
    font-size: 2rem;
    border: none;
    background: white;
}
form button{
    color: rgb(85, 71, 71);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background: rgb(85, 71, 71);
    color: white;
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-List{
    min-width: 30%;
    list-style:none;
}
.todo{
    margin: 0.5rem;
    background:white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition:all 0.5s ease;
}
.todo li{
    flex:1;
    list-style: none;
}
.trash-btn,.complete-btn,.test-btn{
    background:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.trash-btn:hover{
    color:red;
}
.complete-btn{
    background-color:  wheat;
    color: black;
}
.complete-btn:hover{
    background-color: wheat;
    color:rgb(34, 197, 121);
}
.test-btn{
    background-color:rgb(255, 253, 253);
    color: black;
}
.test-btn:hover{
    color: rgb(231, 187, 43);
}
.todo-item{
    padding: 0rem,0.5rem;
}
.fa-trash,
.fa-check,.fa-pencil-ruler{
    pointer-events: none;
}
.completed{
    text-decoration:line-through ;
    text-decoration-color: rgb(238, 88, 88);
    opacity: 0.5;
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}
.testing{
    opacity: 0.8;
    border: 5px solid rgb(80, 80, 76);
}
select{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance: none;
    outline: none;
    border: none;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select{
    color: rgb(85, 71, 71);
    width: 13rem;
    cursor: pointer;
    padding: 1.5rem;
}
.select::after{
    content: "\25BC";
    position: absolute;
    background: rgb(85, 71, 71);
    top: 0;
    right: 0;
    padding: 1.5rem;
    pointer-events: none;
    transition: all 0.3 ease;
}
.select:hover::after{
    background: rgba(85, 71, 71, 0.705);
    color: white;
}